[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "lib/tmx"]
	path = lib/tmx
	url = https://github.com/baylej/tmx.git
[submodule "lib/raylib-tmx"]
	path = lib/raylib-tmx
	url = https://github.com/IoriBranford/raylib-tmx.git
[submodule "lib/LDtkLoader"]
	path = lib/LDtkLoader
	url = https://github.com/Madour/LDtkLoader.git
