[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "lib/tmx"]
	path = lib/tmx
	url = https://github.com/IoriBranford/tmx.git
[submodule "lib/raylib-aseprite"]
	path = lib/raylib-aseprite
	url = https://github.com/RobLoach/raylib-aseprite.git
[submodule "lib/box2d"]
	path = lib/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty # zconf.h gets deleted when building with cmake
[submodule "lib/libxml2"]
	path = lib/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
