[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "lib/tmx"]
	path = lib/tmx
	url = https://github.com/IoriBranford/tmx.git
[submodule "lib/raylib-tmx"]
	path = lib/raylib-tmx
	url = https://github.com/IoriBranford/raylib-tmx.git
[submodule "lib/raylib-aseprite"]
	path = lib/raylib-aseprite
	url = https://github.com/RobLoach/raylib-aseprite.git
[submodule "lib/luajit"]
	path = lib/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "lib/luajit-cmake"]
	path = lib/luajit-cmake
	url = https://github.com/zhaozg/luajit-cmake.git
[submodule "lib/box2d"]
	path = lib/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/IoriBranford/lua.git
